.App {
  text-align: center;
  background-color: #121119;
}

.App-content {
  background-color: #121119;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-content .logo {
  width: 25%;
} */

button {
  font-size: 48px;
}
